/* .left {
  background-color: pink;
  color: #fff;
}
.far-left {
  background-color: red;
  color: #fff;
}
.right {
  background-color: blue;
  color: #fff;
}
.far-right {
  background-color: purple;
  color: #fff;
} */

#app {
  margin: 0 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.red {
  color: #bb0000;
}

.blue  {
  color: #0066CC;
}

.container {
  margin: auto;
  margin-bottom: 40px;
  max-width: 750px;
}

header {
  background-color: royalblue;
  color: #fff;
  padding: 1em;
}

header h1 {
  margin: 0;
  font-size: 30px;
}

header p {
  font-size: 16px;
  font-style: italic;
  padding:0;
  margin: 0;
}

section.vote h2 {
  text-align: center;
  font-size: 20px;
}

section.vote p {
  text-align: center;
  font-size: 20px;
  margin: 0.5em;
}


section.vote .actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

section.vote .actions .btn {
  width: 15%;
  min-width: 100px;
  position: relative;
  font-weight: bold;
}
section.vote .actions .btn p {
  text-align: center;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
  font-size: 16px;
}

/* section.results {
  background-color: grey;
} */

section.results h2 {
  text-align: center;
  font-size: 16px;
}

section.results .graph {
  height: 50px;
  display: flex;
  color: #fff;
  text-align: center;
}
section.results p {
  text-align: center;
  font-size: 16px;
}
section.results .graph .data {
  padding: 0.1em;
}

section.results .graph .data.far-right {
  background-color: #0D378A;
  flex: 1;
}

section.results .graph .data.right {
  background-color: #0066CC;
  flex: 1;
}

section.results .graph .data.left {
  background-color: #FF8080;
  flex: 1;
}

section.results .graph .data.far-left {
  background-color: #bb0000;
  flex: 1;
}

section.results .details {
  text-align: left;
  display: flex;
  justify-content: space-between;
}

footer {
  position: fixed;
  bottom:0;
  width: 100%;
  text-align: center;
  background-color: royalblue;
  margin-top: 2em;
  color: #fff;
  padding: 0.5em;
}

footer a {
  color: #fff;
  /* text-decoration: none; */
}

footer .icon-link {
  color: #fff; 
  font-size: 25px; 
  text-decoration: none; 
  margin: 0.5em;
}